@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ECF0F1;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    width: 100%;
    height: 620px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.247);
    display: flex;
    align-items: center;

    .formWrapper {
        width: 50%;
        height: 100%;
        background-color: #58af9c;
        border-radius: 8px 0 0 8px;
        padding: 10px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        h1 {
            color: white;
            font-size: 2rem;
        }

        form {
            padding: 0 20px;
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 6px;

            h4 {
                color: white;
                font-weight: 300;
            }

            input {
                padding: 15px;
                border: none;
                border-radius: 5px;
                background-color: #ECF0F1;
                outline: none;
            }

            .buttons {
                display: flex;
                justify-content: center;
                gap: 20px;
                margin-top: 10px;

                button {
                    padding: 10px 20px;
                    border-radius: 20px;
                    border: 2px solid #fff;
                    background-color: #58af9c;
                    color: #fff;
                    cursor: pointer;
                    font-weight: 700;
                    transition: 0.2s;
                    outline: none;
                }

                button:hover {
                    background-color: #fff;
                    color: #58af9c;
                }
            }
        }

    }

    .infoWrapper {
        width: 50%;
        height: 100%;
        color: #58af9c;
        padding: 10px;
        overflow: scroll;

        .infoWrapperHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;

            h2 {
                font-size: 2rem;
            }
        }

        table {
            width: 100%;
            text-align: center;
            font-weight: 300;

            th {
                border: 1px solid #58af9c;
                padding: 5px;
            }

            td {
                color: black;
                padding: 5px;
            }
        }   
    }
}


// responsive
@media(max-width: 900px) {
    .container {
        flex-direction: column;
        height: 90vh;

        .formWrapper {
            width: 100%;
            height: 100%;
            border-radius: 8px 8px 0 0;
        }
    
        .infoWrapper {
            width: 100%;
            height: 100%;
        }
    }
}